@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 4.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Vó Chiquita Portal | Confirmação</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">    
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/themes/assets/admin/pages/css/coming-soon.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/themes/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/themes/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href="index.html">
                    <img src="~/Content/themes/assets/admin/layout4/img/logo-big.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 coming-soon-content">
                <h1>Ebaaaa, quase lá...</h1>
                <p>
                    Em até 48 horas, iremos fazer a validação dos dados cadastrados. Mas fique tranquilo, quando validarmos o cadastro, te enviaremos um  e-mail para te informar :)
                </p>
                <br>
                <h5 class="font-grey" style="font-style:italic">
                    Observação: Certifique-se se sua caixa de entrada de e-mails não está cheia, e verique na pasta lixo eletrônico.
                </h5>
            </div>
            <div class="col-md-6 coming-soon-countdown">
                <div id="defaultCountdown">
                </div>
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer">
                2017 &copy; Cantina Vó Chiquita. Portal de consumo
            </div>
        </div>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Content/themes/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/themes/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Content/themes/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/themes/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    
    <!-- BEGIN PAGE LEVEL PLUGINS -->    
    <script src="~/Content/themes/assets/global/plugins/countdown/jquery.countdown.js"></script>
    <script src="~/Content/themes/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src="~/Content/themes/assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="~/Content/themes/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
        <script src="~/Content/themes/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>*@
    <script src="~/Content/themes/assets/admin/pages/scripts/coming-soon.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            
            $.countdown.regional['pt-BR'] = {
                labels: ['Anos', 'Meses', 'Semanas', 'Dias', 'Horas', 'Minutos', 'Segundos'],
                labels1: ['Ano', 'Mês', 'Semana', 'Dia', 'Hora', 'Minuto', 'Segundo'],
                compactLabels: ['a', 'm', 's', 'd'],
                whichLabels: null,
                digits: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'],
                timeSeparator: ':', isRTL: false
            };
            $.countdown.setDefaults($.countdown.regional['pt-BR']);
            ComingSoon.init();

            // init background slide images
            $.backstretch([
                               "../Content/themes/assets/admin/pages/media/bg/1.jpg",
                               "../Content/themes/assets/admin/pages/media/bg/2.jpg",
                               "../Content/themes/assets/admin/pages/media/bg/3.jpg",
                               "../Content/themes/assets/admin/pages/media/bg/4.jpg",
            ], {
                fade: 1000,
                duration: 10000
            });
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>